* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.encode-sans expanded-regular {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*body*/

body {
    display: grid;
    background-color: #F5F0F6;
    width: fit-content;
}

body h1, h2 {
    background-color: #2D7DD2;
    text-align: center;
    border: 2px solid black;
    margin: 1rem 0;
}

body p {
    font-family: "Encode Sans Expanded", sans-serif;
}

/*header*/

header {
    font-family: "Madimi One", sans-serif;
    text-align: center;
    background-color: #F17105;
    color: black;
    border: 2px solid black;
    margin: 1rem 0;
    border-radius: 10px;
    font-size: xx-large;
}

.hero h1 {
    font-family: "Madimi One", sans-serif;
    text-align: center;
    font-size: 40px;
}

.hero img {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    padding: 1rem;
    height: 500px;
    width: fit-content;

}

/*nav*/

nav {
    text-align: center;
    background-color: #F17105;
    color: black;
    border: 2px solid black;
    display: block;
    overflow: hidden;
    margin: 1rem 0;
    border-radius: 10px;
    font-family: "Encode Sans Expanded", sans-serif;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #2D7DD2;
}

#hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    color: #F5F0F6;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem 2vw;
}

ul.navLink li a {
    border: 2px solid black;
    display: block;
    padding: .75rem 2vw;
    color: black;
    text-decoration: none;
}

li.active a {
    background-color: rgba(0,0,0,0.2);
}

ul.navLink {
    display: none;
}

ul.navLink.open {
    display: block;
}

/*main*/

main {
    display: grid;
    margin: 1rem 2vw;
    text-align: center;
    max-width: auto;
}

.call {
    display: grid;
    background-color: #F17105;
    border: 2px solid black;
    margin: 1rem 0;
    border-radius: 10px;
    grid-column: -2/-1;
}

.sidebar {
    display: grid;
    background-color: #F17105;
    border: 2px solid black;
    margin: 1rem 0;
    border-radius: 10px;
    grid-column: 1/2;
    grid-row: 1;
}

.localPics {
    display: grid;
    grid-column: 2/3;
    grid-row: 1;
}

/*form*/

form {
    background-color: #F17105;
    border: 2px solid black;
    margin: 1rem 0;
    border-radius: 10px;
    font-family: "Encode Sans Expanded", sans-serif;
}

.j1 form h1 {
    text-align: center;
    font-family: "Madimi One", sans-serif;
}

.j1 legend {
    text-align: left;
    font-weight: bold;
    font-family: "Madimi One", sans-serif;
}

.j1 fieldset {
    margin: 2rem 0;
}

.j1 label {
    display: block;
    text-align: left;
    padding-top: 1rem;
    font-weight: bold;
}

.j1 div {
    font-weight: bold;
    margin: 1rem 0;
    text-decoration: underline;
}

/*footer*/