body {
    display: grid;
    font-family: "Montserrat", sans-serif;
    background-color: #A28B55;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    height: 100vh;
}

/* header */

header {
    font-family: 'Protest Strike', sans-serif;
    background-color: #86AB89;
    text-align: center;
    padding: 1rem;
    margin: 3rem;
    border: 2px solid black;
    grid-column: 1/4;
}

nav {
    grid-column: 1/3;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}

.dark {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.dark-mode {
	background-color: rgb(39, 37, 37);
	color: black;
    border: 2px solid;
}

/* main */

.left-sidebar {
    grid-column: 1/2;
    grid-row: 2/3;
}

.left-sidebar h3 {
    text-align: center;
    background-color: #E7FBE6;
}

.left-sidebar h4 {
    text-align: center;
    background-color: #E7FBE6;
    border: 2px solid black;
    padding: 1rem;
    margin: 3rem;
}

.left-sidebar section p {
    text-align: left;
}

main {
    display: grid;
    grid-column: 2/3;
}

.hero-image img{
    height: 500px;
    width: 800px;
    border: 2px solid black;
    margin: 1rem;
}

.hero-label {
    position: absolute;
    top: 300px;
    left: 370px;
    opacity: .75;
    background: radial-gradient(#fff);
    padding: 1.5rem;
}

.hero-label p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 1.25rem;
    background-color: #CBE2B5;
}

.right-sidebar {
    grid-column: 3/4;
}

body section h3 {
    font-family: 'Protest Strike', sans-serif;
    background-color: #86AB89;
    border: 2px solid black;
    padding: 1rem;
    margin: 3rem;
}

body section p {
    background-color: #E7FBE6;
    padding: 3rem;
    margin: 3rem;
    border: 2px solid black;
}

body section ul {
    background-color: #E7FBE6;
    padding: 3rem;
    margin: 3rem;
    border: 2px solid black;
}

picture img {
    background-color: #CBE2B5;
    border: 2px solid black;
    padding: 0.5rem;
    align-content: center;
}

picture p {
    text-align: center;
    background-color: #E7FBE6;
    padding: 1rem;
    border: 2px solid black;
    position: relative;
    bottom: 40px;
}

picture img:hover {box-shadow: 0 0 50px #333;}

.weather {
    background-color: #86AB89;
    border: 1px solid black;
    margin: 1rem;
    padding: 0.1rem;
    text-align: center;
}

.weather h2 {
    background-color: #CBE2B5;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.weather h4 {
    background-color: #CBE2B5;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.weather p {
    background-color: #E7FBE6;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.windchill {
    background-color: #E7FBE6;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.spotlights {
    background-color: #86AB89;
    border: 1px solid black;
    margin: 1rem;
    padding: 0.1rem;
    text-align: center;
}

.spotlights p {
    background-color: #E7FBE6;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.call-to-action {
    background-color: #86AB89;
    border: 1px solid black;
    margin: 1rem;
    padding: 0.1rem;
    text-align: center;
}

.call-to-action li {
    background-color: #CBE2B5;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    list-style: none;
}

.events {
    background-color: #86AB89;
    border: 1px solid black;
    margin: 1rem;
    padding: 0.1rem;
    text-align: center;
}

.events p {
    background-color: #E7FBE6;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.information {
    background-color: #86AB89;
    border: 1px solid black;
    margin: 1rem;
    padding: 0.1rem;
    text-align: center;
}

.information h4 {
    background-color: #CBE2B5;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.information p {
    background-color: #E7FBE6;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.attractions {
    background-color: #86AB89;
    border: 1px solid black;
    margin: 1rem;
    padding: 0.1rem;
    text-align: center;
}

.attractions p {
    background-color: #E7FBE6;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

/* form */

#description {
    height: 60px;
}

:root {
	--border: gray;
	--zebra: gray;
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
    border-collapse: collapse;
}

caption {
    padding: 5px;
    caption-side: bottom;
}

tr:first-child th {
    background-color: #86AB89;
    color: black;
}

th, td {
    padding: 7px 15px;
    border: 1px solid black;
}

th {
    background-color: #86AB89;
    font-size: large;
}

td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: var(--zebra);
}

/* footer */

footer {
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: #E7FBE6;
    text-align: center;
    border: 2px solid black;
}