* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

head, body {
    background-color: gray;
}

body {
    font-family: "Madimi One", sans-serif;
}

header {
    text-align: center;
    background-color: aqua;
    color: black;
    border: 1px solid black;
    display: block;
    overflow: hidden;
    margin: 1rem 0;
    border-radius: 10px;
}

header img {
    border-radius: 10px;
    border: 1px solid black;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.5);
    padding: 1rem;
}

main {
    margin: 1rem 2vw;
    text-align: center;
    max-width: fit-content;
}

nav {
    text-align: center;
    background-color: aqua;
    color: black;
    border: 1px solid black;
    display: block;
    overflow: hidden;
    margin: 1rem 0;
    border-radius: 10px;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid blue;
}

.card {
    color: black;
    border: 1px solid black;
    background-color: aqua;
    display: block;
    overflow: hidden;
    margin: 1rem 0;
    border-radius: 10px;
}

.card h2 {
    color: black;
    background-color: mediumblue;
    display: block;
    padding: .75rem 0;
    text-align: center;
}

.card span {
    padding: 10px;
}

.card section h2 {
    list-style-type: none;
}